<% @page_title = @user.name %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back %>
  </div>

  <div class="flex-item-justify-end">
    <%= form_with url: session_path, method: :delete, data: { controller: "sessions" } do %>
      <%= hidden_field_tag :push_subscription_endpoint, nil, data: { sessions_target: "pushSubscriptionEndpoint" } %>

      <button class="btn" data-action="sessions#logout:prevent">
        <%= image_tag "logout.svg", aria: { hidden: "true" } %>
        <span class="for-screen-reader">Log out</span>
      </button>
    <% end %>
  </div>
<% end %>

<section class="panel flex flex-column gap" style="view-transition-name: avatar-<%= @user.id %>">
  <%= render partial: "pwa/install_instructions" %>

  <div class="align-center center avatar__form gap" data-controller="upload-preview">
    <%= profile_form_with @user, class:"txt-medium" do |form| %>
      <label class="btn input--file">
        <%= image_tag "camera.svg", role: "presentation", size: 20 %>
        <%= form.file_field :avatar, id: "file", class: "input", accept: "image/*",
            data: { upload_preview_target: "input", action: "upload-preview#previewImage change->form#submit" } %>
        <span class="for-screen-reader">Upload avatar</span>
      </label>
    <% end %>

    <%= profile_form_with @user do |form| %>
      <label class="btn avatar input--file txt-xx-large">
        <%= image_tag user_image_path(@user), role: "presentation", size: 300, data: { upload_preview_target: "image" } %>
        <%= form.file_field :avatar, id: "file", class: "input", accept: "image/*",
                            data: { upload_preview_target: "input", action: "upload-preview#previewImage change->form#submit" } %>
        <span class="for-screen-reader">Avatar</span>
      </label>
    <% end %>

    <% if @user.avatar.attached? %>
      <% button_to user_avatar_path(@user), method: :delete, class: "btn btn--negative txt-small avatar__delete-btn" do %>
        <%= image_tag "minus.svg", role: "presentation", size: 20 %>
        <span class="for-screen-reader">Delete avatar</span>
      <% end %>
    <% end %>
  </div>

  <%= profile_form_with @user do |form| %>
    <div class="flex flex-column gap">

      <% if flash[:alert] %>
        <div class="margin-block pad-inline fill-negative border-radius">
          <p class="pad-inline-start txt-medium txt-negative"><%= flash[:alert] %></p>
        </div>
      <% end %>
      
      <div class="flex align-center gap">
        <%= translation_button(:user_name) %>

        <label class="flex align-center gap flex-item-grow input input--actor">
          <%= form.text_field :name, value: @user.editable_name, class: "input txt-medium ", autocomplete: "name", placeholder: "Enter your name",
                              autofocus: true, required: true,  data: { "1p-ignore": true } %>
          <%= image_tag "person.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-center gap">
        <%= translation_button(:email_address) %>

        <label class="flex align-center gap flex-item-grow input input--actor">
          <%= form.email_field :email_address, class: "input txt-medium", value: @user.email_address, autocomplete: "username",
                               placeholder: "Enter your email address", required: true %>
          <%= image_tag "email.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-center gap">
        <%= translation_button(:twitter) %>

        <label class="flex align-center gap flex-item-grow input input--actor">
          <%= form.text_field :twitter_url, class: "input txt-medium ", placeholder: "Your X profile", required: false %>
          <%= image_tag "social/twitter-outline.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-center gap">
        <%= translation_button(:linkedin) %>

        <label class="flex align-center gap flex-item-grow input input--actor">
          <%= form.text_field :linkedin_url, class: "input txt-medium ", placeholder: "Your LinkedIn profile", required: false %>
          <%= image_tag "social/linkedin-bw.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-center gap">
        <%= translation_button(:website) %>

        <label class="flex align-center gap flex-item-grow input input--actor">
          <%= form.text_field :personal_url, class: "input txt-medium ", placeholder: "Your website", required: false %>
          <%= image_tag "web.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-start gap">
        <%= translation_button(:bio) %>

        <label class="flex align--center gap flex-item--grow input input--actor">
          <%= form.text_area :bio, class: "input txt-medium", placeholder: "A few words about yourself…", maxlength: 200,
                             rows: 3, required: false %>
          <%= image_tag "bio.svg", role: "presentation", size: 24, class: "colorize--black" %>
        </label>
      </div>

      <%= profile_form_submit_button %>
    </div>
  <% end %>

  <hr class="margin-block-start borderless">

  <fieldset style="padding-bottom: 0;">
    <legend class="gap">
      <%= image_tag "notification-bell-everything-old.svg", aria: { hidden: "true" }, size: 36, class: "colorize--black" %>
    </legend>
  </fieldset>

  <div class="margin-block pad-inline pad-block-half fill-shade border-radius" style="margin-top: 0;">
    <menu class="flex flex-column gap-half margin-none pad">
      <li class="flex align-center gap margin-none min-width membership-item">
        Receive an email when mentioned

        <hr class="separator" aria-hidden="true">

        <span class="txt-small">
          <%= render "users/email_subscriptions/email_subscription" %>
        </span>
      </li>

      <li class="flex align-center gap margin-none min-width membership-item" data-controller="theme-toggle">
        Theme

        <hr class="separator" aria-hidden="true">

        <button type="button" class="btn txt-small" data-action="theme-toggle#toggle">
          <span data-theme-toggle-target="label">System</span>
        </button>
      </li>
    </menu>
  </div>

  <hr class="margin-block-start borderless">

  <fieldset style="padding-bottom: 0;">
    <legend class="gap">
      <%= image_tag "star.svg", aria: { hidden: "true" }, size: 36, class: "colorize--black" %>
    </legend>
  </fieldset>

  <div class="margin-block pad-inline pad-block fill-shade border-radius" style="margin-top: 0;">
    <menu class="flex flex-column gap-half margin-none pad">
      <%= render partial: "users/profiles/membership", collection: @shared_memberships %>
    </menu>
  </div>

  <%= render "users/profiles/transfer", user: @user %>

  <% if Rails.env.development? %>
    <fieldset>
      <legend>
        <%= image_tag "key.svg", aria: { hidden: "true" }, size: 36, class: "colorize--black" %>
      </legend>
      <%= link_to "Push Notifications Dev Mode", user_push_subscriptions_url, class: "btn txt-small center" %>
    </fieldset>
  <% end %>
</section>
