<%# Be sure to check/update messages/_template.html.erb when changing this file %>
<%# locals: (message:, current_room: nil, first_unread_message: nil, timestamp_style: :time, show_date_separator: true) -%>

<% is_first_unread_message = (message == first_unread_message) %>
<% cache message_cache_key(message, room_id: current_room&.id, is_first_unread_message:) do %>
  <%= message_tag message do %>
    <div class="message-separator message__loading-indicator">
      <span class="busy txt-muted"></span>
    </div>
    
    <% if is_first_unread_message %>
      <h2 id="unread_separator" class="message-separator message__new-separator"><span>New since last visit</span></h2>
    <% end %>

    <% if show_date_separator %>
      <h2 class="message-separator message__day-separator"><%= local_datetime_tag message.created_at, style: :date %></h2>
    <% end %>

    <div class="avatar message__avatar">
      <%= render 'users/popup', user: message.creator %>
    </div>

    <turbo-frame id="<%= dom_id(message, :edit) %>">
      <div class="message__body">
        <div class="message__body-content">
          <div class="message__meta">
            <h3 class="message__heading">
              <span class="message__author" title="<%= message.creator.title %>">
                <strong data-reply-target="author"><%= message.creator.name %></strong>
              </span>
              <%= link_to message_timestamp(message, style: timestamp_style, class: "message__timestamp"), room_at_message_path(message.room, message), target: "_top",
                    class: "message__permalink" %>
              <span class="message__meta-block message__room <%= "message__original-room" if current_room.nil? || (current_room.present? && current_room != message.room) %>">
                <% if current_room.nil? %>
                  <span class="message__room-in">in</span>
                <% end %>
                <% if message.room.thread? && message.room.parent_message %>
                  <%= link_to "🧵 #{room_display_name(message.room.parent_message.room, for_user: nil)}", room_at_message_path(message.room, message), target: "_top", data: { reply_target: "link" } %>
                <% else %>
                  <%= link_to room_display_name(message.room, for_user: nil), room_at_message_path(message.room, message), target: "_top", data: { reply_target: "link" } %>
                <% end %>
              </span>
            </h3>
            <%= render "messages/actions", message:, current_room: %>
          </div>
          <%= render "messages/presentation", message: %>
          <%= render "messages/boosts/boosts", message: %>
          <%= render "messages/threads", message: %>
        </div>
      </div>
    </turbo-frame>
    <div class="message-separator message__loading-indicator">
      <span class="busy txt-muted"></span>
    </div>
  <% end %>
<% end %>
