<%# Use preloaded threads data - threads and messages should be eager loaded %>
<% threads = message.threads.to_a.select { |t| t.messages_count.to_i > 0 } %>
<div id="<%= dom_id(message, :threads) %>" class="threads flex align-center gap full-width" style="--column-gap: 0.4ch; --row-gap: 0" data-controller="local-time">
  <% threads.each do |thread| %>
    <%# Use message authors as participants (not memberships) and rely on preloaded messages when present %>
    <% messages_relation = thread.association(:messages).loaded? ? thread.messages : thread.messages.includes(creator: :avatar_attachment) %>
    <% participant_messages = messages_relation.group_by(&:creator_id).values.map { |msgs| msgs.min_by(&:created_at) } %>
    <% ordered_participants = participant_messages.compact.sort_by(&:created_at).take(5).map(&:creator) %>
    <% reply_count = thread.messages_count.to_i %>

    <%= link_to room_path(thread), class: "thread__link flex-inline align-center gap", data: { turbo_frame: "_top", updated_at: thread.last_active_at&.iso8601 } do %>
      <div class="thread__avatars flex-inline gap">
        <% ordered_participants.each do |user| %>
          <figure class="avatar thread__avatar flex-item-no-shrink" data-stop-propagation="true">
            <%= render 'users/popup', user: user %>
          </figure>
        <% end %>
      </div>
      <%= pluralize(reply_count, 'reply', 'replies') %>
      <% if reply_count > 0 && thread.last_active_at.present? %>
        <span class="txt-muted">Last reply <%= local_datetime_tag thread.last_active_at, style: :relative %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
