<% @page_title = "Sign up" %>
<% @body_class = "signup" %>

<% content_for :nav do %>
  <div class="flex-item-justify-end">
    <%= link_to new_session_path, class: "btn flex-item-justify-end" do %>
      <%= image_tag "login-keys.svg", aria: { hidden: "true" } %>
      <span class="for-screen-reader">Sign in</span>
    <% end %>
  </div>
<% end %>

<%= form_with model: @user, url: join_path(params[:join_code]), class: "center" do |form| %>
  <section class="nametag u-relative">
    <div class="flex justify-center align-center pad-block">
      <%= image_tag "lanyard.svg", class: "nametag__lanyard", aria: { hidden: "true" } %>
    </div>

    <div class="nametag__inner flex flex-column gap">
      <fieldset class="flex flex-column center-block">
        <legend class="txt-align-center flex gap align-center justify-center">
          <%= account_logo_tag %>
          <strong class="txt-large"><%= Current.account.name %></strong>
        </legend>

        <div class="txt-align-center txt-medium margin-block-start-half">
          <% if @join_code.personal? %>
            <strong><%= @join_code.user.name %></strong> invited you to join
          <% else %>
            You've been invited to join
          <% end %>
        </div>

        <div class="flex justify-center gap txt-medium">
          <span class="flex align-center gap-half">
            <span style="display:inline-block;width:8px;height:8px;border-radius:50%;background:#3ba55c"></span>
            <%= User.active.where(last_authenticated_at: 24.hours.ago..).count %> Online
          </span>
          <span>&middot;</span>
          <span><%= User.active.count %> Members</span>
        </div>
      </fieldset>

      <% if flash[:alert] %>
        <div class="flex align-center gap margin-block pad-inline fill-negative border-radius">
          <p class="pad-inline-start txt-medium txt-negative"><%= flash[:alert] %></p>
        </div>
      <% end %>
      
      <div class="flex align-center gap">
        <%= translation_button(:user_name) %>
        <label class="flex align-center gap flex-item-grow txt-large input input--actor">
          <%= form.text_field :name, class: "input", autocomplete: "name", placeholder: "Name", autofocus: true, required: true,
                data: { "1p-ignore": true } %>
          <%= image_tag "person.svg", aria: { hidden: "true" }, size: 24, class: "colorize--black" %>
        </label>
      </div>

      <div class="flex align-center gap">
        <%= translation_button(:email_address) %>
        <label class="flex align-center gap flex-item-grow txt-large input input--actor">
          <%= form.email_field :email_address, class: "input", autocomplete: "username", placeholder: "Email address", required: true %>
          <%= image_tag "email.svg", aria: { hidden: "true" }, size: 24, class: "colorize--black" %>
        </label>
      </div>

      <% if Current.account.auth_method_value != "otp" %>
        <div class="flex align-center gap">
          <%= translation_button(:password) %>
          <label class="flex align-center gap flex-item-grow txt-large input input--actor">
            <%= form.password_field :password, class: "input", autocomplete: "new-password",
                placeholder: "Password", required: true, minlength: User::MINIMUM_PASSWORD_LENGTH, maxlength: 72 %>
            <%= image_tag "password.svg", aria: { hidden: "true" }, size: 24, class: "colorize--black" %>
          </label>
        </div>
      <% end %>

      <%= form.button class: "btn btn--reversed center txt-large", type: "submit" do %>
        <%= image_tag "check.svg", aria: { hidden: "true" } %>
        <span class="for-screen-reader">Join</span>
      <% end %>

      <div class="txt-medium txt-align-center">
        Already have an account? <%= link_to "Sign in", new_session_path %>
      </div>
    </div>
  </section>
<% end %>

<%= render "accounts/help_contact" %>
