<div class="margin-block pad fill-shade border-radius txt-align-center">
  <div class="flex flex-column gap align-center">

    <!-- Permissions -->
    <div class="flex flex-column gap align-center" style="--row-gap: 0.5em">
      <strong>Permissions</strong>
      <div class="flex flex-column gap">
        <%= form_with model: @account, method: :put, data: { controller: "form" }, class: "flex align-center gap" do |form| %>
          <%= form.fields_for :settings, @account.settings do |settings_form| %>
            <%= settings_form.hidden_field :restrict_room_creation_to_administrators,
                value: !Current.account.settings.restrict_room_creation_to_administrators? %>
          <% end %>
          <label class="switch">
            <input type="checkbox"
                  class="switch__input"
                  <%= "checked" if Current.account.settings.restrict_room_creation_to_administrators? %>
                  data-action="change->form#submit">
            <span class="switch__btn"></span>
          </label>
          <span>Only admins can create rooms</span>
        <% end %>

        <%= form_with model: @account, method: :put, data: { controller: "form" }, class: "flex align-center gap" do |form| %>
          <%= form.fields_for :settings, @account.settings do |settings_form| %>
            <%= settings_form.hidden_field :restrict_direct_messages_to_administrators,
                value: !Current.account.settings.restrict_direct_messages_to_administrators? %>
          <% end %>
          <label class="switch">
            <input type="checkbox"
                  class="switch__input"
                  <%= "checked" if Current.account.settings.restrict_direct_messages_to_administrators? %>
                  data-action="change->form#submit">
            <span class="switch__btn"></span>
          </label>
          <span>Only admins can start DMs</span>
        <% end %>

        <%= form_with model: @account, method: :put, data: { controller: "form" }, class: "flex align-center gap" do |form| %>
          <%= form.fields_for :settings, @account.settings do |settings_form| %>
            <%= settings_form.hidden_field :allow_users_to_create_invite_links,
                value: !Current.account.settings.allow_users_to_create_invite_links? %>
          <% end %>
          <label class="switch">
            <input type="checkbox"
                  class="switch__input"
                  <%= "checked" if Current.account.settings.allow_users_to_create_invite_links? %>
                  data-action="change->form#submit">
            <span class="switch__btn"></span>
          </label>
          <span>Allow users to create invite links</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
