<% if owner = User.administrator.first %>
  <div class="txt-align-center margin-block-double full-width">
    <%= link_to "mailto:\"#{Branding.app_name} Support\" <#{Branding.support_email}>", class: "btn center", title: "Email #{Branding.app_name} Support" do %>
      <%= image_tag "lifebuoy.svg", aria: { hidden: "true" } %>
      <span><%= Branding.support_email %></span>
    <% end %>

    <div class="txt-align-center center margin-block txt-subtle"><%= Branding.app_name %> version <%= version_badge %></div>
  </div>
<% end %>
